{% extends "base.html" %}

{% block content %}
<h1 class="subtitle">{{user}}さんの来週月曜日から日曜日までのシフト</h2>
<div style="width: 100%; height: 5px; background-color: cadetblue;"></div>
<div style="text-align: left;">
    <p>※入れない日は'0'を入力してください。</p>
    <p>※入れる時間は次のように入力してください。<br>(18時:「18」を入力、ランチ:「11.5」を入力、18時半:「18.5」を入力)</p>
</div>
<form action="#" method="post">
    <div style="padding: 15px 0 0;"></div>
    {% for i in range(7) %}
    <!-- week = list('月火水木金土日') -->
    <div>{{week[i]}}曜日のシフト</div>
    <div style="padding: 0 0 10px;">
        <label for="form{{i}}">入れる時間</label>
        <input style="width: 50px; height: 30px;" class="input" type="text" name="form{{i}}" id="form{{i}}" value="{{ data[i] }}" required>
        <label for="form{{i}}" style="color: red;">*必須</label>
    </div>
    {% endfor %}
    <input class="input" type="submit" value="送信する" style="width: 80px;">
</form>
{% endblock %}